{% extends "education/base.html" %}
{% block barraup %}
{{block.super}}
{%endblock%}

{%block content%}
{% load static %}
<link rel="stylesheet" type="text/css" href = "{% static 'principal/hola.css' %}" />
<div id="presentacion">
    <h1 style="font-size: 30">¿Qué es IntEd?</h1>
    <p>IntEd es la nueva forma de enseñanza. Por un coste tan bajo como<b> 7 euros al mes </b>o incluso <b>gratuitamente</b> si invitas a 5 personas, se te asignará
        un tutor que guiará tu aprendizaje en las asignaturas de matemáticas, física y química. En IntEd apostamos por una educación independiente pero guiada,
        en la que el alumno desarrolle una autonomía mientras invierte su tiempo de la mejor manera posible, gracias a la supervisión del tutor. </p>
    </div>
<div id="funciones">
    <h1>El tutor</h1> <br> Toda función del tutor está destinada a marcar el camino que más ayude al alumno. Tratará continuamente de conocer sus necesidades
    para facilitar los ejercicios y recursos que más las satisfagan. Las funciones del tutor son: <ul>
        <li>Elaborar un horario con recursos recomendados y ejercicios relacionados.</li>
        <li>Llevar un seguimiento de los progresos del alumno.</li>
        <li>(Tanto el horario como el seguimiento se pueden consultar en esta página). </li>
        <li>Responder a preguntas personales de cada alumno.</li>
        <li>Corregir los errores y escribir un informe sobre las debilidades y fortalezas que haya mostrado el alumno en su realización, además de ajustar la enseñanza
    respecto a los resultados de ese diagnóstico. </li></ul>
        La comunicación entre el tutor y el alumno se realizará por WhatsApp o por correo, y desde IntEd animamos al alumno a sentirse libre de consultar cualquier
        duda, realizar sugerencias o aportar información útil para su aprendizaje, si cree que está aprendiendo rápido, si se le atasca algún tema... <br>
</div>
<div id="quien">
    <h1>¿A quién va dirigido IntEd?</h1>
        De momento, en IntEd ayudamos con matemáticas, física y química a alumnos de todos los cursos de la ESO.
</div>
<div id="ident">
    <h1>¿Te hemos convencido?</h1>
    <p>Contacta con nosotros mandando un mensaje a inted00@gmail.com e <a href="/identificacion" style="color: black">identifícate.</a></p>
</div>
{%endblock%}