{% extends "education/base.html" %}
{% block barraup %}
{{block.super}}
{%endblock%}

{% block barradown %}
{{block.super}}
{%endblock%}

{%block content%}
{% load static %}
<link rel="stylesheet" type="text/css" href = "{% static 'principal/principal.css' %}" />
<div id="presentacion">
    <h style="font-size: 30">¿Qué es IntEd?</h>
    <p>Inted es una propuesta con los objetivos de promover la igualdad de
    oportunidades y mejorar la enseñanza mediante el desarrollo de una inteligencia
    artificial que hace de profesor particular. Esta inteligencia será capaz de adaptarse
    a las dificultades y gustos de cada alumno, elaborando métodos de aprendizaje personalizados,
    alcanzando una enseñanza de apoyo barata y de calidad. A lo largo del tiempo, la inteligencia artificial
    utilizada irá adquiriendo más experiencia y haciéndose más
    competente. Si tiene alguna duda o sugerencia, contacte con
    nosotros a la dirección de correo @@@@.</p>
    <p><a href="/identificacion" style="color: black">Registrarse/login</a></p>
</div>
{%endblock%}