body{
    background-color: blue;
    background-size:100%;
}
h1{
    font-size: 18;
    color: solid blue;
}
.tarea{
    position:absolute;
    width: 40%;
    height: 60%;
    border: 2px solid black;
}

#scores{
    text-align: justify;
    font-size: 13;
    left: 7%; top: 25%;
}

#horario{
    text-align: justify;
    font-size: 13;
    left: 93%; top: 25%;
}

#nombre_usuario{
    font-size: 20;
    color: orange;
}
#recuerda{
    position:absolute;
    font-size: 15;
    text_align: center;
    top: 85%; left: 0%;
    min-height: 15%;
    width: 100%;
    background-color: grey;
    border: 2px solid black;
}