{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href = "{% static 'education/base.css' %}">
</head>

<body>
        <div id="barraup">
        {% block barraup %}
        <h id="inted">IntEd</h>
        <p id="ayuda_ajustes"><a href="/principal/ajustes" style="color:black">Ajustes</a> <br>
        <a href="/principal/ayuda" style="color:black">Ayuda</a></p>
        {% endblock %}
        </div>
{%block content%}
{%endblock%}

        <div id="barradown">
        {% block barradown %}
        <p id="who_contacta">
        <a href="/principal/who" style="color:black">¿Quiénes somos?</a>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="/principal/contacta" style="color:black">Contacta</a>
        </p>
        {% endblock %}
        </div>

</body>
</html>