{% load static %}
<link rel="stylesheet" type="text/css" href = "{% static 'identificacion/fill.css' %}" />

<p>Como eres nuevo/a en esta página, deberás rellenar este formulario para disfrutar de la aplicación, con el nivel
que tienes del 1 al 8 en cada topic. Si no haces nada (si se queda en un 1), se tomará como que no necesitas ayuda.</p>
<q>
    <form method="POST">
        {%csrf_token%}
        <select id="curso">
            <option value="primero">Primero ESO</option>
            <option value="segundo">Segundo ESO</option>
            <option value="tercero">Tercero ESO</option>
            <option value="cuarto">Cuarto ESO</option>
        </select>
        {% if curso.value == "cuarto" %}
            <div id="máscuarto" class="cursomás">
                <p>Ahora elige qué unidades quieres que tengamos en cuenta
                en tu aprendizaje.  </p>
            </div>
        {% endif %}
        <button type="submit">Submit</button>
    </form>
</q>