{% extends "education/base.html" %}

{% block barraup %}
{{block.super}}
{% endblock %}

{% block barradown %}
{{block.super}}
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href = "{% static 'identificacion/register.css' %}" />

<div id="bienvenido">
    Bienvenido/a
</div>

<form method="post">
    {% csrf_token %}
    <div id="registrar">
    <p>
        <h1>¿Todavía no estás registrado?</h1> <br>
    Nombre:  <label for="name"></label>
    <input id="name" type="text" name="name"> <br>
    Contraseña:  <label for="password"></label>
    <input id="password" type="password" name="password"> <br>
    Email:  <label for="email"></label>
    <input id="email" type="text" name="email"> <br>
    <button type="submit" value="register" name="register">OK</button>
    </p>
    </div>
</form>

<form method="post">
    {% csrf_token %}
    <div id="login">
            <h1>¿Ya estás registrado? </h1> <br>
        Nombre:  <label for="name1"></label>
        <input id="name1" type="text" name="name1"> <br>
        Contraseña:  <label for="password1"></label>
        <input id="password1" type="password" name="password1"> <br>
        <button type="submit" value="login" name="login">OK</button>
    </div>
</form>

{% endblock %}