body{
    background-color: rgb(240,240,240);
    background-size:100%;
}
h1{
    font-size: 22;
    color: solid black;
    text-align: center;
}
.tarea{
    display: block;
    overflow: auto;
    position:absolute;
    width: 40%;
    height: 50%;
    border: 2px solid black;
    padding: 18px;
    font-size: 18;
}

#scores{
    text-align: justify;
    left: 7%; top: 25%;
}

#horario{
    text-align: justify;
    left: 53%; top: 25%;
}

#nombre_usuario{
    font-size: 24;
    color: solid black;
    position: absolute;
    top: 15%; left: 7%;
}
#recuerda{
    position:absolute;
    font-size: 18;
    text-align: center;
    top: 85%; left: 0%;
    min-height: 15%;
    width: 100%;
    background-color: rgb(200,200,200);
    border: 2px solid black;
    padding: 10px;
}